<!-- daily.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daily Report</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">


<h2>Daily Report Page</h2>

<input type="date" class="date-input" id="reportDate" placeholder="Enter report date (YYYY-MM-DD)" />
<br>
 <input type="text" class="title-input" id="reportTitle" placeholder="Enter report title" />
<br>
    <select id="status">
        <option value="PENDING">PENDING</option>
        <option value="DONE">DONE</option>
    </select>
    <br>
<textarea id="reportDescription" class="textarea"></textarea>
<br>
<button onclick="saveEntry()">Save</button>
<button onclick="showSummary()">Topla</button>


<h3 id="entry-head">Your Entries</h3>
<ul id="entryList"></ul>

<div id="summary"></div>
</div>
<script th:src="@{/index.js}"></script>

</body>
</html>
