<!-- daily.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daily Report</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1>Daily Report Page</h1>

<input type="date" class="title-input" id="reportDate" placeholder="Enter report date (YYYY-MM-DD)" />
<br>
 <input type="text" id="reportTitle" placeholder="Enter report title" />
<br>
<textarea id="reportDescription" class="textarea"></textarea>

<button onclick="saveEntry()">Save</button>
<button onclick="showSummary()">Topla</button>


<h2>Your Entries</h2>
<ul id="entryList"></ul>


<h2>Mailleri topla</h2>
<div id="summary"></div>

<script th:src="@{/index.js}"></script>

</body>
</html>
